
/*=======================
google fonts linked here 
=========================*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#E5E5E5;
    font-family: 'Poppins', sans-serif;
}
/*=======================
header style starts here 
========================= */

.header-section{
    padding: 10px;
    top: 0;
    position:fixed;
    width: 100%;
    background-color:#562EEF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.header-content{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    width:41px;
    height: 52px;
}
.logo h3{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
}
.navber{
    display: flex;
    align-items: center;
}
.navber li{
    list-style: none;
}
.navber li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin: 0px 20px;
}
.menu_btn{
    display: none;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.profile{
    width: 51px;
    height: 51px;
}
hr{
    border:1px solid #D1D1D1;
}
/*======================
 header style ends here 
 ======================= */


/*=============================
 top player section stats here  
 ===============================*/
.container{
    width: 870px;
    border-radius:5px;
    background: #fff;
    display: block;
    margin:100px auto 0px auto;
    padding: 30px;
}
.top-title{
    color:#562EEF;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 33px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    padding-bottom: 35px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width:56px;
    height: 56px;
}
.player h3{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-left: 16px;
}

/*===============================
 top blogs section starts here 
==================================*/

.image-frame img{
    width: 177px;
    height: 117px;
}
.top-blogs{
    padding:30px 0px;
    color: #562EEF;
    font-size: 24px;
    font-weight: 500;
}
.blog{
    display: flex;
}
.image-info{
    margin-left: 16px;
}
.image-info h3{
    font-size: 20px;
    font-weight: 500;
    line-height:34px;
}
.image-info p{
    color:#9F9F9F;
}
.image-info p a{
    text-decoration: none;
    color: #562EEF;
    font-size: 16px;
    line-height: 24px;
}
.blogs{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 34px;
}




















/* medum devices  */

@media (max-width:1024px) {
    .menu_btn{
        display: block;
    }
    .navber{
        position:absolute;
        width:25%;
        top: 15vh;
        right: 10vh;
        display: flex;
        flex-direction: column;
        background-color:#562EEF;
        padding: 20px;
        text-align: center;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        border-radius: 5px;
        transform: scale(0);
        transform-origin: top right;
        transition: all .3s ease-in-out;
    }
    .navber.active{
        transform: scale(1);
    }
    .profile{
        margin: 10px 0px;
    }
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
       
    }
    .blogs{
        grid-template-columns: 1fr;
    }
   
}


/* small devices  */
@media (max-width:576px){
    .navber{
        width: 50%;
        height:50vh;
        right: 6vh;
        display: flex;
        justify-content: center;

    }
    .logo img{
        width: 35px;
        height:45px;
    }
    .logo h3{
        margin-left: 5px;
    }
    .container{
        width: 100%;
    }
    .players, .blogs{
        grid-template-columns: repeat(1, 1fr);
       
    }
    .player{
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 10px;
    }
    .blog{
      display:inline-block;
      margin: auto;
      text-align: center;
      margin-bottom: 30px;

    }

}